table {
    border-collapse: collapse;
  }
  

  }
  th {
      color: firebrick;
  }

  .table {
      white-space: pre;
  }
  #c {
    width: 50%
  }

  @media (max-width: 1028px) {

    #tableid {
        width: 25%
      }
}

.header {
  padding: 3rem;  
  text-align: center;
  
}

h1{
  padding: 2rem;
}

#animg {
  width: 40%;
}

@media (max-width: 500) {

  #animg {
    width: 50%;
  }
}