table {
    border-collapse: collapse;
  }
  

  }
  th {
      color: firebrick;
  }

  .table {
      white-space: pre;
  }
  #c {
    width: 50%
  }

  @media (max-width: 1028px) {

    #tableid {
        width: 25%
      }
}
